/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

body {
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
  display:flex;
  flex-direction:column;
  width:auto 0px;
  background: #F2F1E8;
  margin:auto;
}
.wrapper {
  margin:0px;
}
.main-navigation {
  font-family: 'Roboto';
  background:white;
  text-decoration:none;
  display:flex;
  align-items: center;
  padding:10px 0px;
}
.wrapper h1,h2,h3 {
  font-family: 'Roboto', sans-serif
}
.navigation {
  display:flex;
  justify-content: center;
  /*float:right;*/
  width:100%;
}
#logo {
  position: absolute;
  left:0px;

}
.navigation a {
  color:#2B2F26;
  text-transform: uppercase;
  padding:10px;
}
.site-header {
  padding:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
}
.site-header h1 {
justify-content: center;
font-family:'Lora', serif;
margin:0px;
font-size:50px;
font-weight:400;
}
.site-header h2 {
  margin:1px;
  font-family:'Lora', serif;
  font-weight:100;
  font-size:25px;
}
footer {
  background:#2B2F26;
  color:#F2F1E8;
  padding: 20px;
}
.ceramics-section {
  display: flex;
  flex-direction:column;
  width:100%;
  justify-content: space-between;
  margin:0px 5px;
}
.ceramics-section div {
  color:#F2F1E8;
  margin:10px;
  margin-left:5px;
}

.top-images {
  display:flex;
}
.top-images div, .bottom-images div {
  height:50vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:flex-start;
  padding-bottom: 5px;
  margin:5px;
  background-position: center;
  background-size: cover;
}

.bottom-images {
  display:flex;
}
.top-images span, .bottom-images span {
  background-color:#2B2F26;
  padding:5px;
  /*padding-bottom:5px;*/

}
#Endless-Possibilities {
  background-image: url("images/product-1.jpg");
  background-size: cover;
  width:60%;
}
#Sets {
  width: 20%;
  background-image: url("images/product-2.jpg");

}

#Texture {
  width:20%;
  background-image:url("images/product-3.jpg");
}
#Tea-Time {
  width: 20%;
  background-image: url("images/product-4.jpg");
}
#Jars-Containers {
  width:20%;
  background-image: url("images/product-5.jpg");
}
#Wasabi {
  width: 40%;
  background-image:url("images/product-6.jpg");
}
#Sippin {
  width:20%;
  background-image: url("images/product-7.jpg");
}
