/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  width: auto 0px;
  background: #F2F1E8;
  margin: auto;
}

.wrapper {
  margin: 0px;
  margin-left:20px;
  margin-right:20px;
}

.main-navigation {
  font-family: 'Roboto';
  background: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.main-navigation a:hover {
  color:#CD5D67
}
main-navigation a:active {
  color: #968772;
}

.wrapper h1, h2, h3 {
  font-family: 'Roboto', sans-serif
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo {
  position: absolute;
  left: 0px;
}

.navigation a {
  color: #2B2F26;
  text-transform: uppercase;
  padding: 10px;
}

.site-header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
}

.site-header h1 {
  justify-content: center;
  font-family: 'Lora', serif;
  margin: 0px;
  font-size: 50px;
  font-weight: 400;
}
h2 {
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 25px;
}
.site-header h2 {
  margin: 1px;
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 25px;
}

footer {
  background: #2B2F26;
  color: #F2F1E8;
  padding: 20px;
}

.ceramics-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 0px 5px;
}

.ceramics-section div {
  color: #F2F1E8;
  margin-right: 10px;
}

.top-images {
  display: flex;
  margin-bottom:0px;
}

.top-images div, .bottom-images div {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 5px;
  margin: 5px;
  background-position: center;
  background-size: cover;
}

.bottom-images {
  display: flex;
  padding-top: 0;
}

.top-images span, .bottom-images span {
  background-color: #2B2F26;
  padding: 10px;
}

#Endless-Possibilities {
  background-image: url("images/product-1.jpg");
  background-size: cover;
  width: 60%;
}

#Sets {
  width: 20%;
  background-image: url("images/product-2.jpg");
}

#Texture {
  width: 20%;
  background-image: url("images/product-3.jpg");
}

#Tea-Time {
  width: 20%;
  background-image: url("images/product-4.jpg");
}

#Jars-Containers {
  width: 20%;
  background-image: url("images/product-5.jpg");
}

#Wasabi {
  width: 40%;
  background-image: url("images/product-6.jpg");
}

#Sippin {
  width: 20%;
  background-image: url("images/product-7.jpg");
}

/*About Page stlying*/
.wrapper-about {
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap:wrap;
}

.content-section {
  line-height: 30px;
  width: 60%;
  flex-wrap: wrap;
  overflow:auto;
  align-items: center;
}
.content-section img {
  float:left;
  padding-right:15px;

}
blockquote {
  font-style: italic;
  font-weight: 100;
  border-left: 2px solid #967343;
  padding-left:20px;
}
.Room-to-Grow {
  color:white;
  font-family: 'Lora', serif;
  font-size: 40px;
  font-weight: 100;
  background-image: url("images/background-3.jpg");
  background-position: 40% 30%;
  background-size: cover;
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Room-to-Grow h1 {
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 400;
  align-items: center;
}
.bottom-section {
  line-height: 30px;
  justify-content: center;
  display:flex;
  align-items: center;
  align-self: center;
  width: 60%;
}
.aside {
  height:auto;
  font-size: 12px;
  line-height: 20px;
  float:right;
  padding-left: 50px;
}
.aside figcaption {
  width: 150px;
}
.facilities {
  display: inline;
  flex:3;
  width:60%;
}
.facilities p {
  justify-content: center;
}

.table-colors {
  background: #EAE8D5;
}

thead {
text-align: center;
}
table {
  border-collapse: collapse;
}
table td {
border: 1px solid black;
padding:10px;
font-size: 16px;
}

.monthly-plans {
  display:flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 40px;
  width:60%;
}

.monthly-plans h2 {
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 25px;
}
/*Newsletter styling*/
.form-section {
  background-image: url("images/background-2.jpg");
  width:auto;
  background-repeat: no-repeat;
  background-size: cover;
  height:90vh;
  display:flex;
  align-items: center;
  justify-content: center;

}
.form-section h2{
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 25px;
}
.form-section h4{
  font-family:'Lora', serif;
  font-weight: 100;
  align-self:center;
}
.form-content {
  background-color: white;
  width:50%;
  padding:20px;
}
.form-intro {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
input {
  width:100%;
    border: none;
    border-bottom: 2px solid #968772;
}
button {
  margin:0 45%;
  color:white;
  background-color:#968772;
  padding:10px 20px;
  border-style: none;
  font-size:16px;
  font-weight:lighter;
}
label {
  font-family: 'Roboto', sans-serif;
  color: #968772;
  font-weight: 100;
}
